/* Large Screen */

@media screen and (min-width: 1024px) {
	div.drawer {
		display:inline-block;
		opacity: 1;
		position: static;
		box-shadow:0 0 8px -2px rgba(122, 106, 83, 0.5);
		flex-grow:1;
	}
	div.drawer[data-slide-in-dir="right"],
	div.drawer[data-slide-in-dir="left"] {
		transform: translateX(0);
	}
	article#main {
		flex-grow:2;
	}
	article#main::before { display: none; }
	body {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}
	.menuToggle {
		display: none;
	}
}

/* Fonts */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), 
    local('Roboto-Light'), 
    url(font/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
    local('Roboto-Regular'), 
    url(font/Roboto-Regular.ttf) format('truetype');
}

/* Base Style */

html {
	height: 100%;
	font-size: 1em;
	line-height: 1.5em;
}
body {
	background:#ddd;
	color: #222;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
body, input {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

/* Buttons */

button { 
	background-color: #7A6A53;
	transition: all 0.3s;
	border: 1px solid #5A4A23;
	color: #ECE5CE;
	padding: 0.25em 0.5em;
	border-radius: 4px;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button:hover { 
	background-color: #7A6A53;
	border-color: #3A2A03;
	color: #fff;
}

/* Links */

a { 
	color: #99B2B7;
	transition: color 0.3s;
}
a:hover { 
	color: #799297; 
}

/* Editing */

*[contentEditable] {
	transition: all 0.25s;
}
*[contentEditable]:hover {
	outline: 1px dotted rgba(0,0,0,0.15);
	background: rgba(249,253,169,0.15);
}
*[contentEditable]:focus {
	outline: 1px dotted rgba(0,0,0,0.35);
	background: rgba(249,253,169,0.5);
}

#data-editor {
	background: rgba(102,86,63,0.75);
	color: #fff;
	padding:1em;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 110;
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
}
#data-editor .editor {
	padding: 1em;
}

/* Some special classes */

.paren-data::before { content: '('; color:#d4ccb5; }
.paren-data::after { content: ')'; color:#d4ccb5; }
.paren-data { font-weight: 300; color: #b4ac95; }
.hidden { display:none; }

/* Header/Headings */

.top-header {
	box-shadow: 0 1px 1px -1px rgba(122, 106, 83, 0.25);
}

.top-header,
#main section {
	padding:0 1rem;
}

#main {
	height: 100%;
	background: #ECE5CE;
}
#main .top-header {
	background:#7A6A53;
	color:#ECE5CE;
}
.sync-status { 
	margin-left:1em;
	color:#aa9a83;
	font-size:0.9em;
	cursor:pointer;
}
header .menuToggle {
	margin-right: 0.5em;
	cursor: pointer;
	font-weight:normal;
}
header h2::before {
	color: #D9CEB2;
}
.top-header h1 { 
	font-size:1rem;
	line-height:3.5rem;
	display:inline-block; 
	margin:0; 
	font-weight:normal;
}
header h1, header h2 {
	font-weight: 300;
}

/* Primary Nav */

nav ul {
	margin: 0; 
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}
nav ul:first-child {
	border-bottom:1px solid #ddd;
}
nav ul:first-child li {
	border-bottom:1px dotted #ddd;
}
nav ul:first-child li:last-child {
	border-bottom:none;
}
nav li {	
	transition: background 0.3s;
	padding: 0.2em 0.75em;
	display: flex;
	justify-content: space-between;
}
nav li:hover {
	background-color:#f6f6f6;
}
nav li a {
	display: inline-block;
	line-height: 2.6em;
	text-decoration: none;
	color: #222;
}
nav li a::before {
	color:#777;
	transition: color 0.3s;
}
nav#groupContainer a::before {
	margin-right:0.5em;
}
nav li a:hover::before {
	color:#597277;
}
.group-delete { color:#E08E79; }

/* group summary */

section.group { 
	margin: 1em 0;
}
section.group header { 
	display: inline-block;
}
section.group header h2 {
	font-size: 1.3rem;
	display: inline-block;
	color: #7A6A53;
}
section.group .group-name {
	padding: 0.2em;
}
section.group header h2::before { 
	margin-right: 0.5em;
}
.action-group-delete {
	color:#E08E79;
}
.action-group-delete::before {
	color:#E08E79;
}

/* Task List */

section.tasks {
	width: 100%;
	box-sizing: border-box;
	margin: 1em 0;
}
section.tasks header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
section.tasks header h2, section.tasks header a {
	display: inline-block;
	font-size: 1rem;
	line-height: 2rem;
	vertical-align: middle;
}
section.tasks header h2 { 
	color: #7A6A53;
}
section.tasks header h2::before { 
	margin-right: 0.5em;
}
section.tasks header a { 
	text-decoration: none; 
	font-size: 2em;
}
ul.tasklist {
	display: table;
	border-collapse: separate;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #bbb;
	border-width: 1px 0;
	width: 100%;
	color: #7A6A53;
}
ul.tasklist li {
	background: #f1Ead3;
	display: table-row;
	width: 100%;
}
ul.tasklist li:nth-child(even) { 
	background: #e9e2cb;
}
ul.tasklist li span { 
	display: table-cell;
	padding: 0.25em 0.5em;
	vertical-align: middle;
}
ul.tasklist li span.total {
	text-align: right;
}
ul.tasklist li span.delete {
	text-align: right;
}
ul.tasklist li:last-child {
	border-bottom: none;
}

/* footer */

footer { 
	display: flex;
	margin: 2em 1em; 
	font-size: 0.8em;
	justify-content: space-around;
}
footer a {
	color: #7A6A53;
	text-decoration: none;
}