/* Large Screen */

@media screen and (min-width: 1024px) {
	div.drawer {
		display:inline-block;
		opacity: 1;
		position: static;
		box-shadow:0 0 4px -2px rgba(0,0,0,0.5);
		flex-grow:1;
	}
	div.drawer[data-slide-in-dir="right"],
	div.drawer[data-slide-in-dir="left"] {
		transform: translateX(0);
	}
	article#main {
		flex-grow:2;
	}
	article#main::before { display: none; }
	body {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}
	.menuToggle {
		display: none;
	}
}

/* Fonts */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), 
    local('Roboto-Light'), 
    url(font/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
    local('Roboto-Regular'), 
    url(font/Roboto-Regular.ttf) format('truetype');
}

/* Base Style */

html {
	height: 100%;
	font-size: 1em;
	line-height: 1.5em;
}
body {
	background:#ddd;
	color: #222;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
body, input {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* Links */

a { 
	color: #99B2B7;
	transition: color 0.3s;
}
a:hover { 
	color: #799297; 
}

/* Some special classes */

.paren-data::before { content: '('; color:#d4ccb5; }
.paren-data::after { content: ')'; color:#d4ccb5; }
.paren-data { font-weight: 300; color: #b4ac95; }

/* Header/Headings */

.top-header {
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.25);
}

.top-header,
#main section {
	padding:0 1rem;
}

#main {
	height: 100%;
	background: #fff;
}
#main .top-header {
	background:#7A6A53;
	color:#fff;
}
header .menuToggle {
	margin-right: 0.5em;
	cursor: pointer;
	font-weight:normal;
}
header h2::before {
  color: #D9CEB2;
}
.top-header h1 { 
	font-size:1rem;
	line-height:3.5rem;
	display:inline-block; 
	margin:0; 
	font-weight:normal;
}
header h1, header h2 {
  font-weight: 300;
}

/* Primary Nav */

nav ul {
	margin: 0.5em 0; 
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}
nav li {	
	transition: background 0.5s;
	padding: 0.2em 1em;
}
nav li:hover {
	background-color:#f6f6f6;
}
nav li a {
	display: block;
	line-height: 2.6em;
	text-decoration: none;
	color: #222;
}

/* DOW list */

section.week { 
  margin: 1em 0;
}
section.week header { 
	display: inline-block;
}
section.week header h2 {
	font-size: 1rem;
	display: inline-block;
	color: #7A6A53;
}
section.week header h2::before { 
  margin-right: 0.5em;
}
ol.dowlist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
ol.dowlist li { 
  display: inline-block;
  margin: 0.25em;
  background: #f9f9f9;
  color:#666;
  border-radius: 50%;
  padding: 0.5em;
  transition: color 0.3s, background 0.3s;
}
ol.dowlist li:hover {
  background: #799297;
  color: #fff;
}
ol.dowlist li.active {
  background: none;
  font-weight: 400;
  color: #799297;
}
ol.dowlist a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  width: 2em;
  height: 2em;
  text-align: center; 
  line-height: 2em;
}

/* Task List */

section.tasks {
  width: 100%;
  box-sizing: border-box;
  margin: 1em 0;
}
section.tasks header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.tasks header h2, section.tasks header a {
  display: inline-block;
  font-size: 1rem;
  line-height: 2rem;
  vertical-align: middle;
}
section.tasks header h2 { 
  color: #7A6A53;
}
section.tasks header h2::before { 
  margin-right: 0.5em;
}
section.tasks header a { 
  text-decoration: none; 
  font-size: 2em;
}
ul.tasklist {
  display: table;
  border-collapse: separate;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #bbb;
  border-width: 1px 0;
  width: 100%;
  color: #7A6A53;
}
ul.tasklist li {
  display: table-row;
  width: 100%;
}
ul.tasklist li:nth-child(even) { 
	background: #fbfbfb;
}
ul.tasklist li span { 
  display: table-cell;
  padding: 0.25em 0.5em;
  vertical-align: middle;
}
ul.tasklist li span.total {
	text-align: right;
}
ul.tasklist li span.complete {
	text-align: right;
}
ul.tasklist li:last-child {
  border-bottom: none;
}
